:root {
  --color-cnx-orange: #d95118;
  --color-cnx-brown: #c5351b;
  --color-cnx-grey: #5c5961;

  --color-primary-light: white;
  --color-primary: #f3f3f3;
  --color-primary-dark: #e5e5e5;
  --color-primary-dark-2: #d1d1d1;
  --color-accent: #ff4c00;
  --color-contrast: #2f1310;
}

* {
  margin: 0;
  padding: 0;
}

[data-theme="dark"] {
  --color-primary-light: #80352d;
  --color-primary: #581c15;
  --color-primary-dark: #401c17;
  --color-primary-dark-2: #220e0c;
  --color-accent: #ff4c00;
  --color-contrast: #f3f3f3;
}

.theme-transition * {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, fill 0.3s ease;
}

.clickable {
  cursor: pointer;
}

.hide-on-light {
  display: none;
}

[data-theme="dark"] .hide-on-light {
  display: block;
}

.hide-on-dark {
  display: block;
}

[data-theme="dark"] .hide-on-dark {
  display: none;
}

@media (orientation: portrait) {
  .hide-on-portrait {
    display: none;
  }
}
@media (orientation: landscape) {
  .hide-on-landscape {
    display: none;
  }
}

.hide-on-mobile{
  display: none;
}
.hide-on-desktop{
  display: block;
}
@media (min-width: 1024px){
    .hide-on-desktop{
      display: none;
    }
    .hide-on-mobile{
      display: block;
    }
}

html, body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

input{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat/static/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}